* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  padding: 2vw 8vw 2vw 8vw;
}

/* Header Section Start */

header {
  display: flex;
  justify-content: space-between;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 4vw;
}

header nav ul li a {
  text-decoration: none;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 1.5px;
  color: #2d2f30;
  text-transform: uppercase;
}

/* Hero Section  */

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.hero-section .text h1 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 90px;
  line-height: 108px;
  letter-spacing: 2%;
  color: #094b72;



}
.hero-section .text {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.hero-section .text p {
  font-family: "Plus Jakarta Sans", sans-serif;

  font-weight: 500;
  font-size: 24px;
  line-height: 37.92px;
  letter-spacing: 0.5px;
  color: #4f4f4f;
}

.hero-section .text a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 22.48px;
  letter-spacing: 8%;
  color: rgb(255, 255, 255);
  background-color: #094b72;
  padding: 16px 16px;
  border-radius: 8px;
}

.hero-section .text a:hover {
  background-color: #0973b1;
  transition: ease 0.3s;
}

.hero-section .text h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 37.92px;
  letter-spacing: 0.5px;
  color: #4f4f4f;
}

.hero-section .text img {
  width: 140px;
}



/* Services Section */
.services{
    background-color: #F2FCFF;
    display: flex;
    align-items: center;

}

.services .service-text{
    width: 50%;
    text-align: center;

}

.services .service-text h1{

font-weight: 700;
font-size: 48px;
line-height: 63.98px;
letter-spacing: 0.32px;
color: #2D2F30;


}

.services .service-text p{

font-weight: 400;
font-size: 20px;
line-height: 36px;
letter-spacing: 0.5px;
color:#8B8C8C ;

}

.services .service-service{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1vw;
    
    
}

.services .service-service .service-card{
    background-color: #FCFCFC;
    /* flex-basis: 25%; */
    width: 25%;
    min-height: 255px;
    padding: 2vw;
    
}

.services .service-service .service-card h2{ 
    font-family: "Playfair Display", serif;
font-weight: 700;
font-size: 22px;
line-height: 22px;
letter-spacing: 0.5px;
color: #363940;
}

.services .service-service .service-card p{
    margin-top: 5px;
    font-family: "Plus Jakarta Sans", sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.3px;

}


/* count Section */

.count-section{
  background-image: url('./img/BG.png');
  color: #fff;
 min-height: 356px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2vw;
}

.count-section .count-text h1{
font-family: "Playfair Display", serif;
font-weight: 900;
font-size: 48px;
line-height: 64px;
letter-spacing: 0.5%;
text-align: center;

}

.count-section .count-text p{
font-family:"Poppins", sans-serif;
font-weight: 400;
font-size: 18px;
line-height: 32px;
letter-spacing: 0.5px;
text-align: center;
}


.count-section .count-count{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5vw;
}



/* Client Testimonials  */
.client-testimonial{
background-color: #F4FBFF;
}

.client-testimonial h1{
  text-align: center;
  font-family: "Playfair Display", serif;

font-weight: 700;
font-size: 48px;
line-height: 64px;
letter-spacing: 0.5px;
text-align: center;
color: #2D2F30;

}

.client-testimonial .testimonials{
display: flex;
  justify-content: space-around;
padding: 4vw;

}

.client-testimonial .testimonials .testimonial{
  width: 40%;
  display: flex;
  row-gap: 2vw;
  flex-direction: column;
  align-items: center;
  
 


}

.client-testimonial .testimonials .testimonial .testimonial-card{
  background-color: #FFFFFF;
  box-shadow: 0px 10px 20px 0px #29292A12;
  border-radius: 12px;
  padding: 2vw;
}

.client-testimonial .testimonials .testimonial .testimonial-card h3{
  font-family: "Poppins", sans-serif;
 margin-bottom: 1vw;
font-weight: 500;
font-size: 20px;
line-height: 28px;
letter-spacing: 0%;
text-align: center;

}

.client-testimonial .testimonials .testimonial .testimonial-card p{
  font-family: "Poppins", sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.5px;
text-align: center;

}

.client-testimonial .testimonials .testimonial .testimonial-profile{
  display: flex;
}


.question-section{
  display: flex;
}

.question-section .question-text{
  width: 70%;
  display: flex;
  flex-direction: column;
  
  gap: 2vw;
}

.question-section .question-text h1{
  font-family: "Playfair Display", serif;
font-weight: 700;
font-size: 48px;
line-height: 64px;
letter-spacing: 0.5px;
color: #2D2F30;

}

.question-section .question-text p{
  font-family: "Poppins", sans-serif;
font-weight: 400;
font-size: 24px;
line-height: 36px;
letter-spacing: 0.5px;
color: #4f4f4f;

}




.question-section .question-text a{
text-decoration: none;
background-color: #0F6E8C;
color: #fff;
font-family: "Poppins", sans-serif;
font-size: 20px;
font-weight: bold;
padding: 16px 34px;
border-radius: 12px;
}

.question-section .question-text a:hover{
  background-color: #128eb4;
  transition: ease 0.3s;
}


/* Footer section */
footer{
  background-color: #0F6E8C;
}
 

footer .main-footer{
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columns for larger screens */
  gap: 20px;
  padding: 20px 0;
}

footer .main-footer ul{
  list-style: none;
}

footer .main-footer h3{
  color: #EEEFF4;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
}

footer .main-footer ul li{
  font-family: "Poppins", sans-serif;
font-weight: 300;
font-size: 16px;
line-height: 26px;
letter-spacing: 0%;
color:  #EEEFF4;


}

.copyright{ 
  background-color:  #05546D;
  color:#fff;
  display: flex;
  justify-content: space-between;
}


.copyright .social-media{
  display: flex;
  gap: 15px;
}

.copyright .social-media i{
  color: #fff;
  background-color: #0F6E8C;
  padding: 5px;
  border-radius: 50%;
}